
.journal-item__header {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.journal-item__header {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.journal-item__body{
  display: flex;
  gap: 10px;
}
.journal-item__date {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.journal-item__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


}
