.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-row {
  display: flex;
  align-items: center;

  /* gap: 50px; */
}
.form-labels {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
  color: #fff;
}
.input {
  color: #fff;
  border: none;
  background: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #65616133;
}
.input-title {
  border: none;
  background: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #65616133;
  width: 100%;
}

 .invalid {
  border: 1px solid red;
  background: rgb(124, 37, 37);
} 
